---
import NavigationLink from "@/components/NavigationLink.astro";
import { APP_DESCRIPTION, APP_NAME, APP_REPOSITORY_URL } from "@/constants/app";
import IconUpRightFromSquare from "@/icons/IconUpRightFromSquare.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About">
  <h1 class="mb-12 text-center">About</h1>
  <p>{APP_DESCRIPTION}</p>
  <p class="mb-16">
    また、このウェブサイトはオープンソースなプロジェクトです。詳細については
    <a
      href={APP_REPOSITORY_URL}
      class="inline-flex items-center text-pink-500"
      target="_blank"
      rel="noreferrer"
      >GitHub: {APP_NAME}<IconUpRightFromSquare
        class="ml-1 h-3.5 w-3.5 text-pink-500/70"
      /></a
    >
    をご覧ください。
  </p>
  <NavigationLink href="/" class="flex justify-center">← home</NavigationLink>
</Layout>
