{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:astro/jsx-a11y-recommended",
    "plugin:astro/recommended"
  ],
  "ignorePatterns": ["dist", "*.cjs", "env.d.ts"]
}
