---
import { IconArrowLeft } from "@/icons/arrow-left";
import styles from "./styles.module.css";
---

<section class={styles.container}>
  <a href="/blog/" class={styles.link}>
    <IconArrowLeft class={styles.icon} />
    Home
  </a>
</section>
