---
import { BackToHomeLink } from "@/components/back-to-home-link";
import styles from "./styles.module.css";
---

<div class={styles.container}>
  <div>
    <h1>Not Found</h1>
    <p>Page not found.</p>
  </div>
  <BackToHomeLink />
</div>
