.container {
  align-items: center;
  box-shadow: 0 1px 0 0 rgb(var(--gray-400));
  display: inline-flex;
  gap: 0.125rem;
}

@media (any-hover: hover) {
  .container:hover {
    box-shadow: 0 1px 0 0 rgb(var(--pink-500) / 60%);
    color: rgb(var(--pink-500));
  }
}

.container:active,
.container:focus-visible {
  box-shadow: 0 1px 0 0 rgb(var(--pink-500) / 60%);
  color: rgb(var(--pink-500));
}

.icon {
  height: 1rem;
  width: 1rem;
}

@media (any-hover: hover) {
  .container:hover .icon {
    color: rgb(var(--pink-500) / 70%);
  }
}

.container:active .icon {
  color: rgb(var(--pink-500) / 70%);
}
