html {
  scroll-padding-top: 6em;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
}

body {
  background: rgb(var(--gray-800));
  color: rgb(var(--gray-300));
  font-family: var(--font-sans);
  font-size: var(--text-base);
  line-height: 1.85;
}

h1 {
  color: rgb(var(--gray-100));
  font-size: var(--text-5xl);
  line-height: 1.45;
}

h2 {
  color: rgb(var(--gray-100));
  font-size: var(--text-4xl);
  line-height: 1.45;
}

button {
  cursor: pointer;
}

dialog {
  background: none;
  border: none;
  padding: 0;

  &::backdrop {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}

:root:has(:modal) {
  overflow: hidden;
}

:focus {
  outline: 2px solid rgb(var(--gray-400));
  outline-offset: 0.1rem;
}
