:root {
  /* font size */
  --text-xs: 0.8rem;
  --text-sm: 0.9375rem;
  --text-base: 1.0625rem;
  --text-3xl: 1.65rem;
  --text-4xl: 2rem;
  --text-5xl: 2.75rem;
  --code-sm: 0.8125em;
  --code-base: 0.85em;

  /* font family */
  /* stylelint-disable-next-line value-keyword-case */
  --font-sans: system-ui, Arial, sans-serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;

  /* border radius */
  --rounded: 0.25rem;

  /* color */
  --pink-500: 236 72 153;
  --gray-100: 236 239 244;
  --gray-200: 219 222 229;
  --gray-300: 200 197 216;
  --gray-400: 183 180 199;
  --gray-600: 70 68 77;
  --gray-700: 36 34 43;
  --gray-800: 19 17 26;
  --gray-900: 2 0 9;
}
