.container {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}

.title {
  text-align: center;
}

.description {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.link {
  align-items: center;
  box-shadow: 0 1px 0 0 rgb(var(--pink-500) / 60%);
  color: rgb(var(--pink-500));
  display: inline-flex;
  gap: 0.125rem;
  line-height: 1.4;
}

.linkIcon {
  color: rgb(var(--pink-500) / 70%);
  height: 1.125rem;
  width: 1.125rem;
}
