---
import NavigationLink from "@/components/NavigationLink.astro";
import { APP_REPOSITORY_URL } from "@/constants/app";
import IconUpRightFromSquare from "@/icons/IconUpRightFromSquare.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Contact">
  <h1 class="mb-12 text-center">Contact</h1>
  <p>
    何かしらの問い合わせに関しては
    <a
      href="https://twitter.com/livejam_db"
      class="inline-flex items-center text-pink-500"
      target="_blank"
      rel="noreferrer"
      >Twitter<IconUpRightFromSquare
        class="ml-1 h-3.5 w-3.5 text-pink-500/70"
      /></a
    >
    のダイレクトメッセージからお願いします。
  </p>
  <p class="mb-16">
    また、プログラムのバグなどを発見した場合は
    <a
      href={`${APP_REPOSITORY_URL}/issues`}
      class="inline-flex items-center text-pink-500"
      target="_blank"
      rel="noreferrer"
      >GitHub Issues<IconUpRightFromSquare
        class="ml-1 h-3.5 w-3.5 text-pink-500/70"
      /></a
    >
    から報告してもらえると助かります。
  </p>
  <NavigationLink href="/" class="flex justify-center">← home</NavigationLink>
</Layout>
