---
type Props = {
  class: string;
};

const { class: className, ...attributes } = Astro.props;
---

<div class={className} {...attributes}>
  <a
    href="/blog/"
    class="rounded bg-gray-700 px-4 py-1.5 text-gray-400 no-underline hover:text-gray-100 active:text-gray-100 active:ring-2 active:ring-gray-400"
  >
    ← Home
  </a>
</div>
