---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"a">;

const { props } = Astro;
const baseUrl = import.meta.env.BASE_URL.slice(0, -1);
const href = props.href === "/" ? "/" : `${props.href}/`.replace("//", "/");
props.href = undefined;
---

<a href={`${baseUrl}${href}`} {...props}><slot /></a>
