---
export type Props = {
  class?: string;
  currentPage: number;
  lastPage: number;
  label: string;
};

const { props } = Astro;
---

<div
  class={`text-center font-bold text-pink-500 text-[1.2rem] ${
    props.class || ""
  }`}
  aria-label="Page information"
>
  <span
    class="mr-1 before:mr-0.5 before:text-xs before:text-pink-500/80 before:content-['#']"
    >{props.label}</span
  >
  <span class="font-mono">{props.currentPage}/{props.lastPage}</span>
</div>
