---
type Props = {
  class?: string;
  currentPage: number;
  lastPage: number;
  label: string;
};

const { class: className, currentPage, lastPage, label } = Astro.props;
---

<div
  class:list={["text-center text-[1.2rem] font-bold text-pink-500", className]}
  aria-label="Page information"
>
  <span
    class="mr-1 before:mr-0.5 before:text-xs before:text-pink-500/80 before:content-['#']"
    >{label}</span
  >
  <span class="font-mono">{currentPage}/{lastPage}</span>
</div>
