---
import type { Page } from "astro";
import Link from "./Link.astro";

type Props = {
  url: Page["url"];
};

const { props } = Astro;
const parts = ["prev", "next"] as const;
---

<nav class="text-center md:text-base" aria-label="Page navigation">
  <div class="flex justify-around gap-x-4 leading-normal">
    {
      parts.map((part) => (
        <Link
          href={props.url[part] || props.url.current}
          class="w-full rounded py-2 text-gray-400 no-underline hover:bg-gray-700 hover:text-gray-100 active:bg-gray-700 active:text-gray-100 active:ring-2 active:ring-gray-400 aria-disabled:pointer-events-none aria-disabled:text-gray-500"
          aria-disabled={!props.url[part]}
          tabindex={!props.url[part] ? -1 : 0}
        >
          {part === "prev" ? "←" : "→"}
          <div>{part === "prev" ? "Previous" : "Next"}</div>
        </Link>
      ))
    }
  </div>
</nav>
