---
import { dateFormat } from "@/utils/format";
import type { CollectionEntry } from "astro:content";
import Link from "./Link.astro";

type Props = {
  class?: string;
  posts: Array<CollectionEntry<"posts">>;
};

const { props } = Astro;
---

<ul class={`flex flex-col gap-6 ${props.class || ""}`}>
  {
    props.posts.map((post) => (
      <li>
        <Link
          href={`/${post.slug}`}
          class="text-[1.125rem] font-bold text-gray-200 hover:text-pink-500"
        >
          {post.data.title}
        </Link>
        <div class="text-xs text-gray-400">
          {dateFormat(post.data.created_at)}
        </div>
      </li>
    ))
  }
</ul>
