---
import { dateFormat } from "@/utils/format";
import type { CollectionEntry } from "astro:content";

type Props = {
  class?: string;
  posts: Array<CollectionEntry<"posts">>;
};

const { class: className, posts } = Astro.props;
---

<ul class:list={["flex flex-col gap-6", className]}>
  {
    posts.map((post) => (
      <li>
        <a
          href={`/blog/${post.slug}/`}
          class="text-[1.125rem] font-bold text-gray-200 hover:text-pink-500"
        >
          {post.data.title}
        </a>
        <div class="text-xs text-gray-400">
          {dateFormat(post.data.created_at)}
        </div>
      </li>
    ))
  }
</ul>
