---
type Props = {
  class?: string;
  tags: Array<string>;
};

const { class: className, tags } = Astro.props;
---

<ul
  class:list={[
    "flex max-h-[10.5rem] flex-wrap gap-x-5 gap-y-6 overflow-y-scroll p-1",
    className,
  ]}
>
  {
    tags.map((tag) => (
      <li class="pt-1">
        <a
          href={`/blog/${tag}/`}
          class="rounded bg-gray-700 px-4 py-2 no-underline hover:text-gray-100 active:text-gray-100"
        >
          <span class="before:mr-0.5 before:text-xs before:text-gray-400 before:content-['#']">
            {tag}
          </span>
        </a>
      </li>
    ))
  }
</ul>
