---
import Link from "./Link.astro";

export type Props = {
  class?: string;
  tags: Array<string>;
};

const { props } = Astro;
---

<ul
  class={`flex max-h-[10.5rem] flex-wrap gap-x-5 gap-y-6 p-1 overflow-y-scroll ${
    props.class || ""
  }`}
>
  {
    props.tags.map((tag) => (
      <li>
        <Link
          href={`/${tag}`}
          class="rounded bg-gray-700 px-4 py-2 no-underline hover:text-gray-100 active:text-gray-100"
        >
          <span class="before:-mr-0.5 before:text-xs before:text-gray-400 before:content-['#']">
            {tag}
          </span>
        </Link>
      </li>
    ))
  }
</ul>
