.container {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}

.title {
  font-size: var(--text-4xl);
  text-align: center;
}

.information {
  align-items: flex-end;
  color: rgb(var(--gray-400));
  display: flex;
  flex-flow: column;
  font-size: var(--text-sm);
}

.tableOfContents {
  position: fixed;
  top: 2px;
  z-index: 30;
}

@media (width >= 768px) {
  .tableOfContents {
    top: 0;
  }
}

.historyLink {
  align-items: center;
  box-shadow: 0 1px 0 0 rgb(var(--gray-400));
  display: inline-flex;
  gap: 0.25rem;
  line-height: 1.4;
}

@media (any-hover: hover) {
  .historyLink:hover {
    box-shadow: 0 1px 0 0 rgb(var(--pink-500) / 70%);
    color: rgb(var(--pink-500));
  }
}

.historyLink:active,
.historyLink:focus-visible {
  box-shadow: 0 1px 0 0 rgb(var(--pink-500) / 70%);
  color: rgb(var(--pink-500));
}

.historyLinkIcon {
  color: rgb(var(--gray-400) / 70%);
  height: 1.125rem;
  margin: -0.2rem 0 0;
  width: 1.125rem;
}

@media (any-hover: hover) {
  .historyLink:hover .historyLinkIcon {
    color: rgb(var(--pink-500) / 70%);
  }
}

.historyLink:active .historyLinkIcon,
.historyLink:focus-visible .historyLinkIcon {
  color: rgb(var(--pink-500) / 70%);
}
