.initial {
  @apply fixed top-0 left-0 z-50 h-1 w-0 bg-pink-600 opacity-0;
}

.start {
  @apply w-[99%] bg-pink-600 opacity-50
    transition-[width] duration-[10000ms] ease-[cubic-bezier(0.1,0.05,0,1)];
}

.complete {
  @apply w-full opacity-60
    transition-[width_0.1s_ease-out];
}
