.container {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem 1.25rem;
  margin: 0 -0.5rem;
  max-height: 10rem;
  overflow: scroll;
  overscroll-behavior: contain;
  padding: 0.25rem;
}

.containerMask {
  mask-image: linear-gradient(to top, #0000, #000 20%, #000 80%, #0000);
}

.containerMaskTop {
  mask-image: linear-gradient(to bottom, #0000, #000 20%);
}

.containerMaskBottom {
  mask-image: linear-gradient(to top, #0000, #000 20%);
}

.tag {
  padding: 0.25rem 0 0;
}

.link {
  background: rgb(var(--gray-700));
  border-radius: var(--rounded);
  padding: 0.5rem 1rem;
}

.link[aria-current="page"] {
  color: rgb(var(--pink-500));
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    color: rgb(var(--pink-500));
  }
}

.link:active,
.link:focus-visible {
  color: rgb(var(--pink-500));
}

.symbol::before {
  color: rgb(var(--gray-400));
  content: "#";
  font-size: var(--text-sm);
  margin: 0 0.075rem 0 0;
}

.link[aria-current="page"] .symbol::before {
  color: rgb(var(--pink-500) / 75%);
}

@media (hover: hover) and (pointer: fine) {
  .link:hover .symbol::before {
    color: rgb(var(--pink-500) / 75%);
  }
}

.link:active .symbol::before,
.link:focus-visible .symbol::before {
  color: rgb(var(--pink-500) / 75%);
}
