.container {
  border-radius: var(--rounded);
  width: 90%;
}

@media (width >= 48rem) {
  .container {
    width: 35rem;
  }
}

.show {
  align-items: center;
  background: rgb(var(--gray-600) / 50%);
  border-radius: var(--rounded);
  color: rgb(var(--gray-300));
  display: flex;
  font-size: var(--text-xs);
  gap: 0.25rem;
  line-height: 1.5;
  margin: 0.5rem 0 0;
  padding: 0.5rem 1rem;
}

@media (width >= 48rem) {
  .show {
    font-size: var(--text-sm);
    gap: 0.4rem;
  }
}

@media (any-hover: hover) {
  .show:hover {
    color: rgb(var(--gray-200));
  }
}

.show:active,
.show:focus-visible {
  color: rgb(var(--gray-200));
}

.showIcon {
  height: 0.925rem;
  width: 0.925rem;
}

@media (width >= 48rem) {
  .showIcon {
    height: 1.125rem;
    width: 1.125rem;
  }
}

.dialog {
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-600));
  border-radius: var(--rounded);
  color: rgb(var(--gray-400));
  padding: 1rem;
}

.form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.header {
  align-items: center;
  border-bottom: 1px solid rgb(var(--gray-600));
  display: flex;
  gap: 0.5rem;
  line-height: 1;
  margin: 0 0.5rem;
  padding: 0 0 0.25rem;
}

.title {
  align-items: center;
  color: rgb(var(--gray-200));
  display: inline-flex;
  font-size: 1.4rem;
  font-weight: 700;
  gap: 0.5rem;
  line-height: 1.5;
}

.titleIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.close {
  align-items: center;
  border-radius: var(--rounded);
  display: inline-flex;
  gap: 0.25rem;
  line-height: 1.5;
  margin-left: auto;
  padding: 0.4rem 0.5rem;
}

@media (any-hover: hover) {
  .close:hover {
    background: rgb(var(--gray-600));
    color: rgb(var(--gray-200));
  }
}

.close:active,
.close:focus,
.close:focus-visible {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-200));
}

.closeIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.contents {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  line-height: 1.7;
  list-style: disc outside;
  margin: 0.75rem 0.25rem 1rem 1.9rem;
}

.link {
  box-shadow: 0 1px 0 0 rgb(var(--gray-400));
  color: rgb(var(--gray-300));
}

@media (any-hover: hover) {
  .link:hover {
    box-shadow: 0 1px 0 0 rgb(var(--pink-500) / 70%);
    color: rgb(var(--pink-500));
  }
}

.link:active,
.link:focus-visible {
  box-shadow: 0 1px 0 0 rgb(var(--pink-500) / 70%);
  color: rgb(var(--pink-500));
}
