---
import styles from "./styles.module.css";
---

<header>
  <nav class={styles.navigation} aria-label="Header navigation">
    <a href="/blog/" class={styles.link}
      ><span class={styles.account}>jamband/</span><span
        class={styles.repository}>blog</span
      ></a
    >
  </nav>
</header>
