---
import Link from "@/components/Link.astro";
---

<header>
  <nav
    class="fixed z-20 w-full bg-gray-700 py-3 text-center font-bold"
    aria-label="Header navigation"
  >
    <Link
      href="/"
      class="rounded px-5 py-2.5 font-mono tracking-tight no-underline hover:bg-gray-600/50 active:bg-gray-600"
    >
      <span class="text-sm text-gray-100 duration-100">jamband/</span><span
        class="text-pink-500 duration-1000">blog</span
      >
    </Link>
  </nav>
</header>
